* {
    box-sizing: border-box;
}

body{
    padding-top: 1rem;
    background-color: rgb(65, 62, 62);
    color: #333;
    font-family: "Nunito Sans", sans-serif;
    margin: 0px;
}

input {
    margin: 0.5rem 0;
}

p {
    font-size: 18px;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0px auto;
    background: #e9e7e7;
    padding: 20px;
}

.bottoni {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.bottoni {
    margin: 1rem auto;
}